@page "/"
@namespace App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<BlazorApp>(RenderMode.ServerPrerendered))
    </app>

    <script>
        !function(){
            var url = window.location.href;
            console.log(`current location=${url}`);
        }()
    </script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
