<div >

    <div>
        the follow links do not work 
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <a class="nav-link" href="/?keyword=你好 世界" target="_blank">
                    /?keyword=你好 世界
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/?keyword=%E4%BD%A0%E5%A5%BD%20%E4%B8%96%E7%95%8C" target="_blank">
                    /?keyword=%E4%BD%A0%E5%A5%BD%20%E4%B8%96%E7%95%8C
                </a>
            </li>
        </ul>
    </div>
    <div>
        the follow link works (the "%20" has been replaced with "+")
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <a class="nav-link" href="/?keyword=%E4%BD%A0%E5%A5%BD+%E4%B8%96%E7%95%8C" target="_blank">
                    /?keyword=%E4%BD%A0%E5%A5%BD+%E4%B8%96%E7%95%8C
                </a>
            </li>
        </ul>
    </div>
</div>
